{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo リスト</title>
    <link rel="stylesheet" href="{% static 'todo_app/css/style.css' %}">
</head>
<body class="body">
    <script src="{% static 'todo_app/js/menu.js' %}"></script>
    <script src="{% static 'todo_app/js/todo_list.js' %}"></script>
    <div class ="menu">
        <div class ="menu-header">
            <div class = "logo">
                <img src="{% static 'todo_app/images/your_logo.png' %}" alt="サービスのロゴ">
                <p class = "logo-text">ポートフォリオ</p>
            </div>
        </div>
        <div style="text-align: right;">
            <div class ="button">
                <a href="{% url 'todo_app:todo_list' %}" class ="return-button">戻る</a>
            </div>
        </div>
    </div>
    <div class ="menu-body">
        <div class="menu-container">
            <h1>新規Todo登録</h1>
            <form method="post" action="{% url 'todo_app:todo_create' %}">
                {% csrf_token %}
                {% if form.errors %}
                    <div style="color: red;">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ field.label }}: {{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <p><label for="{{ form.title.id_for_label }}">タイトル:</label>{{ form.title }}</p>
                <p><label for="{{ form.detail.id_for_label }}">作業内容メモ:</label>{{ form.detail }}</p>
                <p><label for="{{ form.Estimated_completion_date.id_for_label }}">完了予定日:</label>{{ form.Estimated_completion_date }}</p>
                <div class = "button">
                    <button class = "submit-button" type="submit">確認画面へ</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
